@use "sass:map";
@use '../base/variables' as vars;
@use '../base/colours' as colours;

//Resposible design (GRID)
@mixin xs {
  @media (min-width: map.get(vars.$breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map.get(vars.$breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map.get(vars.$breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map.get(vars.$breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map.get(vars.$breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

//Reusable container
@mixin featured-attribute($width: 165px, $bg-color: colours.$white-a20, $border-color: colours.$light-gray) {
  width: $width;
  border: 1px solid $border-color;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
