@use '../base/variables' as vars;
@use '../base/colours' as colours;

body{
    background-color: vars.$primary-color;
    color: colours.$dark-gray;
}

.container{
    @media (max-width: 960px) { // Adjust to your breakpoint
        text-align: center; /* Center text for all content */
    }
}