@use '../base/variables' as vars;
@use '../base/colours' as colours;

body{
    background-color: vars.$primary-color;
    color: colours.$dark-gray;
}

.test{
    background-color: rgb(221, 250, 5);
    height: 300px;
    width: 100%;
    border: 3px solid red;
}