$black: #000000;
$dark-gray: #212121;
$medium-gray: #4E4E4E;
$light-gray: #9CA3B5;
$purple: #962AFA;
$bright-red: #FA2A2A;
$bright-blue: #5088FB;
$white: #FFFFFF;
$light-teal: #5CCFB3;
$dark-green: #011F05;

$white-a20: #FFFFFF33;
$transparent-black: #00000000;
$light-gray-a20: #9CA3B533;
$bright-red-a10: #FA2A2A1A;
