@use 'colours' as colours;

// Colours
$primary-color: colours.$white;
$secondary-color: colours.$dark-gray;

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;

//Typography
$primary-font-weight: 700; // Bold
$secondary-font-weight: 400; // Regular

$heading-styles: (
  "h1": (size: 48px, line-height: 58.51px),
  "h2": (size: 40px, line-height: 48.76px),
  "h3": (size: 28px, line-height: 34.13px),
  "h4": (size: 20px, line-height: 24.38px),
);


//Grid
$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px, 
);

$grid-columns: 12;

$grid-gaps: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 30px,
);

$layout-values: flex-start, flex-end, center, space-between, space-around;
