.about{
    margin: 6vw 0 10vw 0;
    
    .bg-image{
        position: absolute;
        left: 5vw;
        top: -3vw;
        height: 27vw;
        width: 19vw;
        z-index: -1;

        @media (max-width: 960px) { 
            display: none;
        }
    }

    .text{
        width: 26vw;

        @media (max-width: 960px) { // Adjust to your breakpoint
            width: 90%; // Make it full width on smaller screens
        }
    }

    .image-wrapper{
        position: relative;
    }

    .main-image{
        width: 29vw;
        @media (max-width: 960px) { // Adjust to your breakpoint
            width: 80%; // Resize image to fit smaller screens
        }
    }

     // Media Query for smaller screens - Center all content
     
}
