.about{
    margin: 105px 0;
    

    .bg-image{
        position: absolute;
        left: 5vw;
        top: -3vw;
        height: 27vw;
        width: 19vw;
        z-index: -1;
    }

    .text{
        width: 30rem;
    }

    .image-wrapper{
        position: relative;
    }

    .main-image{
        width: 29vw;
    }


}
//TODO: Sredi donju marginu, zeza position absolute