@use '../base/colours' as colours;
@use '../abstracts/mixins' as mixin;
@use '../base/variables' as vars;

footer{
    background: 
        linear-gradient(to left, colours.$black, colours.$light-black);
    padding: 40px 60px;

    .text-wrapper{
        display: flex;
        justify-content: flex-end;
        gap: 30px;
 
        @include mixin.respond-to(vars.$breakpoint-lg) {
            text-align: center;
            flex-direction: column;
            margin-top: 30px;
            padding: 0;
        }
    }
    @include mixin.respond-to(vars.$breakpoint-lg) {
        text-align: center;
    }
 
}
  