@use '../base/variables' as vars;
@use '../base/colours' as colours;
@use '../base/typography' as typo;

$header-padding : 40px 60px;
$max-width: 100%;

//TODO: On hover na malom ekranu ne radi dobro kada se hoveruje about us

header {
    padding: 5px;
    position: absolute;
    width: $max-width;
    padding: $header-padding;
    z-index: 1;
}

/* Logo Styling */
.logo {
  img {
    max-height: 50px;
  } 
}

.nav-menu {
  display: flex;
  justify-content: flex-end;  // Align navigation items to the right
  margin-left: auto;  // Pushes the nav-menu to the right
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  margin-left: 12px;
  padding: 10px 20px;

  a {
    @extend .cta-text;
    text-decoration: none;
    color: colours.$white;
    padding: 18px;

    &:hover {
      border-bottom: 1px solid colours.$bright-red;
    }
  }
}


/* Prevent border-bottom on hover for About Us */
.nav-item.dropdown:hover a {
  border-bottom: none;
}

//Nav Button
.nav-button{
  @extend .cta-text;
  height: 50px;
  width: 145px;
  background-color: colours.$medium-gray;
  border: none;
  color: colours.$white;

  &:hover{
    background-color: colours.$bright-red;
    cursor: pointer;
  }
}

/* Dropdown Styles */
.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  background-color: colours.$dark-gray;  // Add your desired background color
  opacity: 0;
  list-style-type: none;
  width: $max-width;

  margin: 5px auto;
  border: 1px solid colours.$medium-gray;

  border-top: 1px solid colours.$bright-red;
  z-index: 10;

  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown-menu li {
  padding: 15px 0;
  margin: 0 20px;
  border-bottom: 2px solid colours.$medium-gray;
}

.dropdown-menu li:last-child {
  border-bottom: none;  // Remove border for the last item
}

.dropdown-menu a {
  @extend .caption-text;
  display: block;
  color: colours.$white;
  text-decoration: none;
  padding: 0;
}

.dropdown-menu a:hover {
  color: colours.$light-gray;
}

/* Show the dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Burger Menu Styling */
.burger-menu {
  display: none; // Hidden by default for larger screens
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  height: 3px;
  width: $max-width;
  background-color: colours.$white;
  border-radius: 2px;
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .logo {
    display: none; // Hide logo on small screens
  }

  .burger-menu {
    display: flex; // Show burger menu on smaller screens
  }

  .nav-menu {
    display: none; // Hide menu initially
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 34, 34);
    position: absolute;
    top: 60px;
    left: 0;
    width: $max-width;
    padding: 10px 0;
    z-index: 100;
  }

  .nav-menu.active {
    display: flex; 
  }

  .nav-list {
    flex-direction: column;
    width: $max-width;
    text-align: center;
  }

  .nav-item {
    width: $max-width;
    padding: 15px 0; 
    text-align: center;
  }

  .nav-item a {
    width: $max-width;
    display: block; // Ensure block-level layout for links
  }
}