@use '../base/colours' as colours;
@use '../abstracts/mixins' as mixin;
@use '../base/variables' as vars;

$hero-width: 100%;
$hero-content-max-width: 500px;

.hero {
  position: relative;
  width: $hero-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: absolute;
  left: 10%;
  top: 35%;
  max-width: $hero-content-max-width;
  color: white;
  padding: 20px;
  text-align: left;
  z-index: 1;

  .note{
    border-left: 2px solid colours.$bright-red;
    padding-left: 30px;
  }

  @include mixin.respond-to(vars.$breakpoint-lg) {
    display: none;
  }
}

.hero-slider {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: calc(100% * 3);
  transition: transform 0.5s ease;
}

.slider img {
  width: 33.33%; // Ensure each image takes up half the slider container width
  height: 100%;
  object-fit: cover;
}

.slider-controls {
  position: absolute; 
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);

  button{
      display: flex;
      height: 50px;
      width: 50px;
      border-radius: 15px;
      border: 0px;
      background-color: colours.$dark-gray;
      cursor: pointer;
  }
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .hero-content {
    flex: 1 1 100%; // Full width on small screens
    text-align: center;
  }

  .hero-slider {
    flex: 1 1 100%; // Full width on small screens
  }

  .slider img {
    width: 100%; // Ensure images cover full width on smaller screens
  }

  button {
    font-size: 1.2rem;
    padding: 8px;
  }
}
